.App {
  text-align: center;
}

.App-header {
  background-image: url('./colorado-mountains.jpg');
  background-size: cover;
  color: white;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.disp {
  display: flex;  
  justify-content: center;
  align-items: center;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
  width: 80%;
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: left;
}

th {
  background-color: lightgray;
}

button {
  margin: 0 10px;
  padding: 5px 10px;
  background-color: lightgray;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: darkgray;
  color: white;
}
